* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  min-height: 100vh;
  min-width: 100%;
  overflow-x: hidden;
}

p {
  font-family: 'Poppins', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
}

button:focus {
  outline: none;
}

/*NAVBAR*/
#navbar {
  z-index: 20;
  position: relative;
  width: 80%;
  height: 8vh;
  display: flex;
  margin: auto;
  align-items: center;
  font-size: 1.2rem;
  color: grey;
  border-bottom: 1px solid transparent;
  transition: 0.3s;
}

#navbar:hover {
  border-bottom: 1px solid red;
}

.brand {
  letter-spacing: 2px;
}

.brand, .links {
  flex: 1;
}

.links ul {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
}

.links ul li a {
  border-bottom: 1px solid transparent;
  transition: 0.3s ease;
}

.links ul li a:hover {
  border-bottom: 1px solid gray;
}

.burger {
  display: none;
  width: 50px;
  height: 25px;
  position: absolute;
  left: 80%;
  cursor: pointer;
  transition: .3s ease;
}

.burger .line1 {
  width: 30px;
  height: 5px;
  background-color: pink;
  position: absolute;
  right: 0px;
  border-radius: 30%;
}

.burger .line2 {
  width: 40px;
  height: 5px;
  background-color: pink;
  position: absolute;
  right: 0px;
  top: 52%;
  transform: translate(0, -52%);
  border-radius: 30%;
}

.burger .line3 {
  width: 50px;
  height: 5px;
  background-color: pink;
  position: absolute;
  right: 0px;
  top: 100%;
  transform: translate(0, -100%);
  border-radius: 30%;
}

.burger:hover {
  transform: scale(1.1);
}

.burger-active {
  box-shadow:
    0 0 5px pink,
    0 0 10px pink,
    0 0 20px pink,
    0 0 40px pink,
    0 0 80px pink,
    0 0 90px pink,
    0 0 100px pink,
    0 0 150px pink;
  height: 5px;
}

.backTop {
  position: fixed;
  z-index: 100;
  font-size: 2rem;
  left: 90%;
  top: 90%;
  transform: translate(-90%, -90%);
  opacity: 0;
  transition: all 0.3 ease-in-out;
}

.backTopActive {
  transition: all 0.3 ease-in-out;
  opacity: 1;
}

.addToCartActive {
  position: absolute;
  background-color: red;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

#main {
  position: relative;
  width: 100%;
  height: 95vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* HOME SECTION */
#home {
  position: relative;
  width: 80%;
  min-height: 100%;
  display: flex;
  align-items: center;
}

#home::before {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: url(images/pexels-drew-rae-580679-removebg-preview.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: inherit;
  opacity: 0.5;
  filter: blur(50px);
}

#home h1 {
  flex: 1;
  font-size: 3rem;
  background: -webkit-linear-gradient(#333, pink);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 100%;
}

#home p {
  width: 60%;
  font-size: 1.5rem;
  background: -webkit-linear-gradient(#333, pink);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#home button {
  height: 5vh;
  width: 25%;
  cursor: pointer;
}

.cta-check {
  color: pink;
  border: none;
  background-color: inherit;
  border: 2px solid pink;
  transition: 0.3s ease;
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
}

.cta-check:hover {
  border: none;
  background-color: pink;
  color: white;
  transition: 0.3s ease;
}

.cta-buy {
  border: none;
  margin-left: 30px;
  background-color: pink;
  color: white;
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
  transition: 0.3s ease;
}

.cta-buy:hover {
  border: 2px solid pink;
  background-color: white;
  color: pink;
  transition: 0.3s ease;
}

#home .showcaseImage {
  flex: 2;
  -webkit-filter: drop-shadow(15px 0px 25px rgba(0, 0, 0, 0.5));
  animation: drop 1.5s ease;
}

@keyframes drop {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

/*TOOLS SECTION*/
#tools {
  min-width: 100%;
  min-height: 100%;
  text-align: center;
}

#tools .text {
  width: 80%;
  margin: auto;
  height: 6%;
  font-size: 2rem;
  border-bottom: 2px solid gray;
  background: -webkit-linear-gradient(#333, pink);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.addtoCart {
  background-color: inherit;
  border: none;
  width: 80%;
  height: 30px;
  font-size: 1.2rem;
  border-color: pink;
  color: #fff;
  box-shadow: 0 0 40px 40px pink inset, 0 0 0 0 pink;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}

.addtoCart:hover {
  color: pink;
  box-shadow: 0 0 10px 0 pink inset, 0 0 10px 4px pink;
}

#tools .toolsContainer {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  width: 80%;
  height: 95%;
  display: grid;
}

.itemImg img {
  width: 400px;
  height: 320px;
}

.itemText {
  height: 40%;
  width: 90%;
  position: relative;
  margin: auto;
  color: #d291bc;
}

.toolsContainer .item1 {
  position: relative;
  grid-column: 1/2;
  grid-row: 1/2;
  padding-bottom: 10px;
}

.toolsContainer .item2 {
  position: relative;
  grid-column: 2/3;
  grid-row: 1/2;
}

.toolsContainer .item3 {
  position: relative;
  grid-column: 3/4;
  grid-row: 1/2;
}

.toolsContainer .item4 {
  position: relative;
  grid-column: 1/2;
  grid-row: 2/3;
}

.toolsContainer .item5 {
  position: relative;
  grid-column: 2/3;
  grid-row: 2/3;
}

.toolsContainer .item6 {
  position: relative;
  grid-column: 3/4;
  grid-row: 2/3;
}

/*Contact Section*/
#contact {
  min-width: 80%;
  min-height: 100%;
}

/* CONTACT */
#contact {
  width: 100%;
  position: relative;
  background-color: lightgray;
}

#contact footer {
  width: 100%;
  height: 5%;
  text-align: center;
  position: absolute;
  bottom: 0px;
  border-top: 1px solid black;
  background-color: gray;
}

#contact h1 {
  text-align: center;
  font-size: 1.5rem;
  background: -webkit-linear-gradient(#333, pink);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#contact .container {
  width: 30%;
  height: 80%;
  position: absolute;
  left: 20%;
  top: 50%;
  transform: translate(-20%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: -webkit-linear-gradient(-45deg, lightgrey, pink);
  border-top: 3px solid white;
  border-bottom: 3px solid white;
}

label {
  font-size: 1.2rem;
  padding-top: 20px;
  font-family: 'Poppins', sans-serif;
  background: -webkit-linear-gradient(#333, pink);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

input, textarea {
  border: none;
  transition: 0.3s ease;
  background-color: inherit;
  border-bottom: 2px solid #d54062;
}

input:focus, textarea:focus {
  outline: none;
  background-color: pink;
  color: gray;
  transition: 0.3s ease;
  width: 25%;
  font-family: 'Poppins', sans-serif;
  border-top: 2px solid #d54062;
  animation: inputAnim 0.5s ease;
}

@keyframes borderAnimation {
  0% {
    width: 20%
  }

  100% {
    width: 25%;
    border-top: 2px solid #d54062;
  }
}

.send {
  border: none;
  background-color: inherit;
  width: 10%;
  height: 7%;
  font-size: 1.2rem;
  color: white;
  margin-top: 7px;
  box-shadow: 5px 5px 10px #d54062;
}

.send:active {
  outline: none;
  width: 10%;
  box-shadow: inset 5px 5px 10px #d54062;
  font-size: 1.1rem;
}
.map{
  width: 50%;
  height: 80%;
  position: absolute;
  left: 90%;
  top: 50%;
  transform: translate(-90%, -50%);
}
#gmap_canvas{
  position:absolute;
  height:100%;
  width:100%;
}
